@import "./colors";
@import "../sass/mixins";

.form {
    color: white;
    max-width: 600px;
    border-radius: 6px;
    background: #343434;
    padding: 50px 35px;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);

    .input {
        width: 100%;
    }

    .inputField {
        color: white;
        font-size: 1em;
        width: 100%;
        padding: 14px 20px;
        margin: 20px 0;
        font-size: 16px;
        display: inline-block;
        border: 1px solid #656565;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #464646;
        transition: 0.3s ease;
        user-select: none;

        .error { border: 1px solid red; }
        .warning { border: 1px solid orange; }
    }

    .nickname {
        color: white;
        width: calc(100% - 80px);
        font-size: 28px;
        font-weight: 600;
        background: transparent;
        border: none;
        transition: .3s;
        padding: 2px 0;
        border-bottom: 1px solid transparent;
        .error { border-bottom: 1px solid red; }
        .warning { border-bottom: 1px solid orange; }

        &:focus {
            border-bottom: 1px solid mediumslateblue;
            box-shadow: none;
            transition: .3s;
        }

        input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
            background-color: transparent;
            background-image: none;
            color: rgb(0, 0, 0);
        }
    }

    .label {
        margin: 1em 0px 0px 0px;
    }

    input:focus {
        box-shadow: 0 0 0 1px rgba(123, 104, 238, 0.7);
    }
    
    select:focus {
        box-shadow: 0 0 0 1px rgba(123, 104, 238, 0.7);
    }

    .profilePicture {
        margin-right: 20px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        img {
            height: 100%;
        }
      }

      .edit {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 0.25s;
        z-index: 1;
        background:rgba(112, 112, 112, 0.5);
      }

      .edit:hover {
        opacity: 1;
      }

      .icon {
          font-size: 30px;
      }
    
    .user {
        display: flex;
        align-items: center;
        /*flex-wrap: wrap;*/
        word-wrap: break-word;
    }

    .username {
        color: white;
        font-size: 28px;
        font-weight: 600;
    }
    
    .welcome {
        color: #bcbcbc;
        font-size: 12px;
        padding: 0 2px;
    }

    .tos {
        margin: 20px 0;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
    }

    .agree {
        margin: 10px;
    }

    .checkbox {
        display: inline-block;
        margin-right: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;

        input[type="checkbox"] {
            display: none;
            opacity: 0;
        }
        
        $checkboxSize: 28px;
        label {
            content: "";
            display: inline-block;
            position: relative;

            width: $checkboxSize;
            height: $checkboxSize;
            background-color: #464646;
            border: 1px solid #656565;
            border-radius: 4px;
            transition: 0.3s;
            cursor: pointer;

            .error { border: 1px solid red; }
            .warning { border: 1px solid orange; }

            &::after {
                $checkSize: 15px;
                $border: 3px;

                content: "";
                position: absolute;
                opacity: 0;
                transition: 0.3s opacity;

                left: ($checkboxSize - ($checkSize / 2) - 2px) / 2;
                top: ($checkboxSize - $checkSize - 5px) / 2;
                width: ($checkSize / 2) - $border;
                height: $checkSize - $border;
                border: solid #FFFFFF;
                border-width: 0px $border $border 0px;
                transform: rotate(45deg);
            }
        }

        input[type="checkbox"]:checked ~ label {
            background-color: mediumslateblue;

            &::after {
                opacity: 1;
            }
        }
    }

    input[type="submit"] {
        width: 100%;
        color: white;
        padding: 12px 32px;
        margin: 10px 0 10px 0;
        font-size: 1em;
        background: mediumslateblue;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    input[type="submit"]:hover {
        background: #8a7bed;
    }

    input[type="submit"]:active {
        background: #6859cc;
    }
}
