@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

@font-face {
    font-family: "Pro";
    src: url("/static/fonts/pro.otf");
}

@font-face {
    font-family: "VX Rocket";
    src: url("/static/fonts/vxrocket.ttf");
}

* {
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

html, body {
    color: #464646;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #fff;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
}

h2 {
    margin: 0 0 10px;
    color: #7B68EE;
    font-size: 28px;
}

p {
    margin: 20px 0 0;
    color: #464646;
    //font-size: .9375rem;
    font-size: 1rem;
}

img {user-select: none;}

.link {
    color: #7B68EE;
    font-size: .875rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.pro {
    color: #7B68EE;
    font-size: 60px;
    font-weight: 400;
    font-family: "VX Rocket", sans-serif;
    margin-bottom: 4px;

    span {
        margin-left: 5px;
        font-family: "Pro", sans-serif;
        font-style: italic;
        font-size: 48px;
        font-weight: 700;
    }
}

.tag {
    color: white;
    //margin: 0 0 10px 0;
    padding: 2px 5px;
    font-size: 12px;
    background: #7B68EE;
    border-radius: 4px;
}

.button {
	display: flex;
	color: white;
	padding: 2px 16px;
	text-align: center;
	text-decoration: none;
	height: 38px;
	justify-content: center;
	align-items: center;
	font-size: .875rem;
	border-radius: 4px;
    cursor: pointer;
    background: black;

	&.github {background: black;}
	&.primary {background: #4f545c;} 
	&.secondary {background: white;}
}


section {
    position: relative;
    width: 100%;
    &:nth-child(even) { background: #ECECEC; }

    .container {
        display: flex;
        position: relative;
        align-items: center;
        height: 660px;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 70px 20px;

        @media only screen and (max-width: 900px) {flex-direction: column; height: auto;}

        .media {
            display: flex;
            align-items: center;
            width: 50%;
            justify-content: center;
            @media only screen and (max-width: 900px) {width: 100%;}

            img {
                height: auto;
                max-width: 100%;
                user-select: none;
            }
        }

        .text {
            width: 50%;
            margin: 0 40px 0 0;
            &:nth-child(even) { margin: 0 0 0 20px; }
            @media only screen and (max-width: 900px) {
                width: 100%;
                margin: 0;
                margin: 0 0 40px 0;
                &:nth-child(even) { margin: 40px 0 0 0; }
            }
        }
    }
}

section #opensource {
    background: #4533B1;
    color: white !important;
}

footer {
    height: 70px;
    background: #7B68EE;
}